/*CSSbanner*/
.banner{
	margin:0 auto;
	animation:doinen ease 90s infinite ;
	width:70%;
	height:450px;
	background-size:100%;
	background-repeat:none;
	display:block;
}

@keyframes doinen{
	2% {
		background-image:url(/images/choalaska.jpg)
	}
	33%{
		background-image:url(/images/meoaln.jpg)
	}
	5%{
		background-image:url(/images/meovang2.jpg)
	}
	20%{
		background-image:url(/images/meoald.jpg)
	}
	15%{
		background-image:url(/images/chongu.jpg)
	}
	10%{
		background-image:url(/images/chocon.jpg)
	}
}
body{
	font-family:revert;
}